<html>
<head>
  <title>Oghma</title>
  <script type='application/javascript' src='/external/jquery.js'></script>
  <script type='application/javascript' src='/external/kinetic.js'></script>
  <script type='application/javascript' src='/external/coffee-script.js'></script>
  <link rel="stylesheet" type="text/css" href='/external/extjs/resources/css/ext-all.css'>
  <script type='application/javascript' src='/external/extjs/bootstrap.js'></script>
  <script type='application/javascript' src='/heron/client/util.js'></script>
<%
path_compare = lambda do |a,b|
  alpha = a.count('/') <=> b.count('/')
  if alpha == 0
    a <=> b
  else
    alpha
  end
end
%>
<% Dir.glob("#{HOME}/public/heron/**/*.js").sort(&path_compare).each do |js| %>
  <script type='application/javascript' src='<%= js.gsub("#{HOME}/public", "")%>?r=<%= rand(100000) %>'></script>
<% end %>
<% Dir.glob("#{HOME}/public/oghma/**/*.js").sort(&path_compare).each do |js| %>
  <script type='application/javascript' src='<%= js.gsub("#{HOME}/public", "")%>?r=<%= rand(100000) %>'></script>
<% end %>

  <script type='text/coffeescript'>
    Ext.Loader.setPath( 'Ext.Oghma', './oghma/ext' )
    Ext.onReady( ->
      @O = new Oghma.App(debug: true)
    )
  </script>
</head>

<body>
  <p>If you can see this, something went wrong.  If possible, please submit contents of javascript console with bug report.</p>
</body>
</html>
